<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mapzen Places | {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.styleguide.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.places.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.places.mobile.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.places.print.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.places.chrome.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.places.chrome.init.js') }}"></script>    
    
    {% block head %}{% endblock %}
</head>
<body data-abs-root-url="{{ url_for('index') }}">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0">

	<div id="header">
	{% include "inc_header.html" %}    
	</div>

	<div id="content">
	{% block content %}{% endblock %}
	</div>
  
	<div id="footer">
	{% include "inc_footer.html" %}
	</div>

      </div>
    </div>
  </div>

  {% include "inc_mapzen_footer.html" %}

  {% if 0 %}
  <script src="{{ url_for('static', filename='javascript/mapzen-styleguide.min.js') }}"></script>
  {% endif %}
</body>
</html>
