{% extends "base.html" %}
{% block title %}{{ place.properties.get('wof:name') | e}}{% endblock %}

{% block head %}
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Mapzen Places" />
<meta property="og:title" content="{{ place.properties.get("wof:name") |e }} ({{ place.properties.get("wof:id") |e }})" />
<meta property="og:description" content="{{ place.properties.get("wof:name") |e }} is a {{ place.properties.get("wof:placetype") |e }} {% if place.properties.get("edtf:deprecated") %} - that is deprecated{% elif place.properties.get("wof:superseded_by") %} - that has been superseded by WOF ID {{ place.properties.get("wof:superseded_by").0 |e }}{% endif %} {% if place.properties.get("wof:country", "") != "" %} :flag-{{ place.properties.get("wof:country").lower() |e }}:{% endif %}" />
<meta property="og:image" content="{{ url_for('static', filename='images/mapzen-logo-square-bw-lit.png') }}" />

<meta property="twitter:card" value="summary" />
<meta property="twitter:site" content="@mapzen" />
<meta property="twitter:creator" content="@mapzen" />
<meta property="twitter:url" content="{{ request.base_url |e }}" />
<meta property="twitter:title" content="{{ place.properties.get("wof:name") |e }} ({{ place.properties.get("wof:id") |e }})" />
<meta property="twitter:description" content="{{ place.properties.get("wof:name") |e }} is a {{ place.properties.get("wof:placetype") |e }}{% if place.properties.get("edtf:deprecated") %} - that is deprecated{% elif place.properties.get("wof:superseded_by") %} - that has been superseded by WOF ID {{ place.properties.get("wof:superseded_by").0 |e }}{% endif %}{% if place.properties.get("wof:country", "") != "" %} :flag-{{ place.properties.get("wof:country").lower() |e }}:{% endif %}" />
<meta property="twitter:image" content="{{ url_for('static', filename='images/mapzen-logo-square-bw-lit.png') }}" />

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapzen.js.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='javascript/mapzen.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/slippymaps.crosshairs.js') }}"></script>

{% endblock %}

{% block content %}

<div class="row" id="navi">
    <div class="col-xs-12">
      <ol class="breadcrumb">
	{% if 0 %}
        <li>
          <a href="https://www.mapzen.com">Mapzen</a>
        </li>
	{% endif %}
        <li>
          <a href="{{ url_for('index') }}">Places</a>
        </li>
        <li class="active">{{ place.properties.get('wof:name') | e}}</li>
      </ol>
    </div>
  </div>

<h1>{{ place.properties.get('wof:name') | e}} <small>It's a {{ place.properties.get('wof:placetype') | e }}</small></h1>

<div id="map"></div>

<div id="map-static">
<div id="map-static-image"></div>
<div id="map-static-attribution"><a href="https://mapzen.com/">Mapzen</a> - <a href="https://www.mapzen.com/rights">Attribution</a>, Data © <a href="https://openstreetmap.org/copyright">OSM</a> contributors</div>
</div>

<div id="place-details">

<p>This place has a stable and permanent identifier. It is <a href="{{ url_for('place_id', id=place.properties.get('wof:id'), _external=True) }}">{{ place.properties.get('wof:id') | e}}</a>.</p>


</div>

<script type="text/javascript">

var map = L.Mapzen.map('map', {
          center: [ {{ place.properties.get('geom:latitude') | e }}, {{ place.properties.get('geom:longitude') | e }}],
          zoom: 13,
          scene: L.Mapzen.BasemapStyles.TronNoLabels
        });

var bbox = '{{ place.properties.get('geom:bbox') | e }}'.split(',');

var sw = L.latLng(bbox[1], bbox[0]);
var ne = L.latLng(bbox[3], bbox[2]);
var bounds = L.latLngBounds(sw, ne);

map.fitBounds(bounds)

map.on('tangramloaded', function(e){

	var tangram = e.tangramLayer;

	var els = document.getElementsByClassName("leaflet-tile-pane");
	var tiles = els[0];
	tiles.style.display = "inline";

	var els = document.getElementsByClassName("leaflet-control-container");
	var controls = els[0];
	controls.style.display = "inline";

	slippymap.crosshairs.init(map);

	// See the private variables? See also:
	// https://github.com/mapzen/mapzen.js/issues/284

	//var screenshot = map._tangram._layer.scene.screenshot();
	var screenshot = tangram.scene.screenshot();

	screenshot.then(function(i){

		// It would be nice to do this but it doesn't
		// seem to work. Maybe I've just got the syntax
		// wrong... (20161029/thisisaaronland)

		// var m = document.getElementById("map");
		// m.style.backgroundImage = i.url;

		var img = document.createElement("img");
		img.setAttribute("src", i.url);

		var static = document.getElementById("map-static-image");
		static.appendChild(img);
	});

	// Check for a signal in Tangram that tiles are loading?
	// Check whether the map has moved?
	// window.onbeforeprint()
});

</script>

{% endblock %}
