{% extends "base.html" %}
{% block title %}Mapzen Places{% endblock %}

{% block head %}
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Mapzen Places" />
<meta property="og:title" content="It's Full of Places" />
<meta property="og:description" content="" />
<meta property="og:image" content="{{ url_for('static', filename='images/mapzen-logo-square-bw-lit.png') }}" />

<meta property="twitter:card" value="summary" />
<meta property="twitter:site" content="@mapzen" />
<meta property="twitter:creator" content="@mapzen" />
<meta property="twitter:url" content="{{ request.base_url |e }}" />
<meta property="twitter:title" content="It's Full of Places" />
<meta property="twitter:description" content="" />
<meta property="twitter:image" content="{{ url_for('static', filename='images/mapzen-logo-square-bw-lit.png') }}" />
{% endblock %}

{% block content %}
<h1>Mapzen <small>It's Full of Places</small></h1>

<div class="row feature-card">
  <div class="col-md-6 no_padding-x">
    <div class="background-image-lg" style="background-image: url({{ url_for('static', filename='images/max-headroom.gif') }});"></div>
  </div>
  <div class="col-md-6 hor-pad-left">
    <h5>What Is This Thing?</h5>
    <p class="footroom">
      Mapzen Places is a friendly and permanent webpage for all the places &#8212; <em>countries, localities, venues, you name it!</em> &#8212; in the <a href="https://whosonfirst.mapzen.com/">Who's On First</a> gazetteer.
    </p>
    <div class="btn-group">
      <a class="btn btn-mapzen" href="{{ url_for('random_place') }}">Visit a random place</a>
    </div>
  </div>
</div>

{% endblock %}
