@media print {

    @page {
	size: portrait;
    }

    body {
	background: #fff; 
	font-size: 12pt;
	margin-top: 0px !important;
    }

    a { 
	font-weight: 700; 
    }

    h1 {
	font-size: 24pt;
	font-weight: 700;
    }

    footer {
	display: none !important;
    }

    a:after { 
	content: " " attr(href) " "; 
	font-weight: 200; 
	font-size: 10pt;
	color: #ccc;
    }

    img { 
	max-width:100% !important;
    }
    
    #map {
	display: none !important;
    }

    #navi {
	display: none !important;
    }
    
    #slippymap-coords {
	display: none !important;
    }
    
    #map-static {
	display: block !important;
	margin-top:1.5em;
	margin-bottom:2em;
    }

    #map-static-attribution {
	margin-top:.4em;
	font-size: 6pt;
	text-align:right !important;
	color: #666 !important;
    }

    #map-static-attribution a:after { 
	font-size: 6pt;
    }
}