@media print {

    @page {
	size: portrait;
    }

    body {
	background: #fff; 
	font-size: 12pt;
	margin-top: 0px !important;
    }

    a { 
	font-weight: 700; 
    }

    h1 {
	font-size: 24pt;
	font-weight: 700;
    }

    footer {
	display: none !important;
    }

    sup {
	display: inline !important;
	font-size: 6pt !important;
	color: #999 !important;
	margin-left: .3em;	
    }

    a:after { 
	display: none !important;
    }

    img { 
	max-width:100% !important;
    }
    
    #footnotes {
	display: block !important;
	font-size:8pt !important;
	margin-left:0px !important;
	margin-top:2em !important;
    }

    #map {
	display: none !important;
    }

    #navi {
	display: none !important;
    }
    
    #slippymap-coords {
	display: none !important;
    }
    
    #map-static {
	display: block !important;
	margin-top:1.5em;
	margin-bottom:2em;
    }

    #map-static-attribution {
	margin-top:.4em;
	font-size: 6pt;
	text-align:right !important;
	color: #666 !important;
    }

    #map-static-attribution a:after { 
	font-size: 6pt;
    }

    .place-detail {
	font-size: auto !important;
	line-height: auto !important;
    }

    .places-host {
	display:none !important;
    }
}